.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    background-color: #f5e7cc;

  }
  
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    margin-top: 20px;
  }
  
  h2 {
    font-size: 36px; 
    margin-bottom: 10px; 
    align-items: center;

  }
  
  .button {
    background-color: #55452e;
    color: white;
    border: none;
    padding: 20px 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
  }
  
  .button:hover {
    background-color: #8d7b65;
  }
  
  button:disabled {
    background-color: lightgray;
    cursor: not-allowed;
  }
  .image-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .image-container img {
    width: 250px;
    height: auto;
    margin: 50px;
  }
