.top-aligned-page {
    background-image: url('../../public/congressseal.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; margin-top: 50px; /* Adjust this to move the content down without blocking */

    padding-top: 50px;
  }
  
  /* .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  } */
  
  h2 {
    color: white;
    margin-bottom: 30px;
  }
  
  p {
    color: white;
    margin-bottom: 20px;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    max-width: 800px;
    z-index: 2;
  }
  
  .list-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 5px;
    z-index: 2;
    animation: slideIn 1.5s;
  }
  
  .list-row span {
    flex: 1;
    text-align: center;
  }
  
  
  @keyframes slideIn {
    from {
      transform: translateY(-50px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }